<div class="">
    <div class="row">
        <span class="columns small-12 text-center">Cancel Request</span>
    </div>

    <div class="columns">
        <label ng-model="message">{{message}}
        <input type="text" ng-model="requestNumber" type='number' placeholder="Cancel a request">
      </label>
    </div>
    
    <div style="display:flex; align-items: center"class="small-9 small-centered"><a class="btn btn-lg send-request" style="margin: 0 auto" ng-click='cancel()'>Cancel Request</a></div>
</div>
