<div class="list" ng-controller='EditTaskController'>    
	<form name="f"><div class="small-offset-1 small-8 medium-6">
	    <div class="row"><span class="title">Edit Task </span><span class="desc">edit a task</span>
	    </div>

		<div class="row"><span>Name<sup class="red">*</sup></span></div>
	    <div class="row">
			<input name="name" ng-model="name" type="text" required>
		</div>
		<div class="row" ng-show="f.name.$touched && f.name.$invalid">
			<span>Please enter your name</span>
		</div>
	      
		<div class="row"><span>Description</span></div>
	    <div class="row">
			<input name="description" ng-model="description" type="text">
		</div>	      

		<div class="row"><span>Deadline<sup class="red">*</sup></span></div>
	    <div class="row">
		    <datepicker>
			  <input ng-model="deadline" type="text"/>
			</datepicker>
		</div>
		<div class="row" ng-show="f.email.$touched && f.email.$invalid">
			<span>Please set the deadline</span>
		</div>

		<div class="row"><span>Assigned User</span></div>
	    	<select class="row" ng-model="idx" >
	    		<option ng-repeat="person in people" value="{{$index}}">{{person.name}}</option>
	    	</select>	
		</div>
		<div class="row" ng-show="f.email.$touched && f.email.$invalid">
			<span>Please set the deadline</span>
		</div>		

		<div class="row">
			<label>Completed?
		    	<input type="checkbox" ng-model="completed"
		           ng-true-value="'YES'" ng-false-value="'NO'">
		   	</label>
		</div>

	    <div class="row">
	      <button ng-click="submit()" class="button tiny info centered">Submit</button>
	    </div>
		<div class="row" ng-show="succMsg">
			<span>{{succMsg}}</span>
		</div>
		<div class="row" ng-show="errMsg">
			<span>{{errMsg}}</span>
		</div>		


  	</div></form>
</div>