<div class="request small-11 medium-9 small-centered paddingTopBottomM">
    <form id="newService" class="row small-12" action="/fs/upload" method="post" enctype="multipart/form-data">
        <div class="row"><strong>Edit profile</strong></div>
        <div class="row"><span>User Name:</span></div>
        <div class="row textbox"><input type="text" placeholder="User Name" ng-model="user.username"></div>
        <div class="row"><span>Business Name:</span></div>
        <div class="row textbox"><input type="text" placeholder="Business Name" ng-model="user.businessName"></div>
        <div class="row"><span>Gender:</span></div>
        <input type="radio" name="gender" ng-model="user.gender" value="0" ng-click="user.gender=0"/>
        Not Specified&nbsp;&nbsp;
        <input type="radio" name="gender" ng-model="user.gender" value="1" ng-click="user.gender=1"/>
        Male&nbsp;&nbsp;
        <input type="radio" name="gender" ng-model="user.gender" value="2" ng-click="user.gender=2"/>
        Female&nbsp;&nbsp;
        <div class="row"><span>Introduction:</span></div>
        <div class="row textbox"><input type="text" placeholder="Introduction" ng-model="user.intro"></div>
        <div class="row"><span>Upload profile image:</span></div>
        <input type="file" name="avatar"><br>
        <div class="row" style="text-align:center"><button class="small-12 bt round medium-6 small-centered columns" type="submit" ng-click="editUser()">Submit</button></div>
    </form>
</div>
