<div id="home">
 	<div id="intro" class="small-12 large-12 small-centered">
	 	<h1 id="now-serving" class="text-center small-12">Now  Serving</h1>
	    <p id="quote" class="text-center large-12 small-12">Good order is the foundation of all great things.</p>
	    <div class="small-6 medium-6 large-6 small-centered">
		    <a href="#/" class="bigbt round send-request text-center small-12 large-12" style="font-weight: normal; display: inline-block" ng-click='showUsers()' >Line Up!</a>
		</div>
		<br>
		<div class="small-6 medium-6 large-6 small-centered">
		    <a href="#/" class="bigbt round send-request text-center small-12 hollow" style="font-weight: normal; border-color: white; color: white;" ng-click='cancelRequest()' > Cancel Request</a>
		</div>
 	</div>
</div>
