<div id="home">
 	<div id="intro" class="small-12 large-12 small-centered">
	 	<h1 id="now-serving" class="text-center large-12 small-10" style="letter-spacing: 50px">LineUp</h1>
	    <p id="quote" class="text-center large-12 small-12">Good order is the foundation of all great things.</p>

        <div class="small-10 small-centered">
            <form> 
                <div class="row">
                    <div class="small-11 columns" style="padding:0;">
                        <input type="text" ng-model= "email" class=" expand nopadding" placeholder="Search by the email of service provider" style="font-family: verdana;font-size:20px; height:50px; font-weight: normal; color: #000000; padding-left: 15px;border: 0; background-color:#ffffff;">      
                    </div>
                    <div class="small-1 columns" style="padding:0;">
                        <input type="submit" class="searchBar expand nopadding" value="&#xf002;" style="font-size: 2.5em;height:50px; " ng-click ="search()"/>   
                    </div>
                </div>
                <h5 >{{err_mes}}</h5>
            </form>
        </div>         
        
		<br>
		<div class="small-6 medium-6 large-6 small-centered">
		    <a href="#/" class="bigbt round send-request text-center small-12 hollow" style="font-weight: normal; border-color: white; color: white;" ng-click='cancelRequest()' > Cancel Request</a>
		</div>
        <br>
        <br>
       
        
 	</div>
</div>
<!--
	    <div class="small-6 medium-6 large-6 small-centered">
		    <a href="#/" class="bigbt round send-request text-center small-12 large-12" style="font-weight: normal; display: inline-block" ng-click='showUsers()' >Line Up!</a>
		</div>
-->