<div id="home">
 	<div id="intro" class="small-12 small-centered">
	 	<h1 id="now-serving" class="text-center small-12">Now  Serving</h1>
	    <p id="quote" class="text-center small-12">Good order is the foundation of all great things.</p>
	    <div class="small-10 medium-3 small-centered">
		    <a href="#/" class="bigbt round send-request text-center small-12" ng-click='showUsers()' >Line Up!</a>
		</div>
		<br>
		<div class="small-10 medium-3 small-centered">
		    <a href="#/" class="bigbt round send-request text-center small-12" ng-click='cancelRequest()' >Or Cancel A Request</a>
		</div>
 	</div>
</div>
