<div class="request small-11 medium-6 small-centered centerVertically">
    <form id="newRequest">
        <div class="row"><span>Send a request to <big class="green">{{SP}}</big></span></div>
        <div class="row"><span>Your Name:</span></div>
        <div class="row textbox"><input type="text" placeholder="Your Name"></div>
        <div class="row"><span>Phone Number:</span></div>
        <div class="row textbox"><input type="text" placeholder="Your Phone"></div>
        <div class="row"><span>Email Address:</span></div>
        <div class="row textbox"><input type="text" placeholder="Your Email"></div>
        <div class="row"><span>What should the Service Provider know about you?</span></div>
        <div class="row textbox"><textarea type="text" placeholder="Any requirements, additional information. Anything you want the service provider to know."></textarea></div>
    </form>
</div>
