<div class="request small-11 medium-9 small-centered paddingTopBottomM">
    <form id="newService" class="row small-12">
        <div class="row"><strong>Create a New Service</strong></div>
        <div class="row"><span>Service Name:</span></div>
        <div class="row textbox"><input type="text" placeholder="Service Name" ng-model="newService.serviceName"></div>
        <div class="row"><span>Your Availability:</span></div>
        <div class="row textbox"><input type="text" placeholder="Like Tuesday afternoon, Friday..." ng-model="newService.availability"></div>
        <div class="row"><span>What is this service about?</span></div>
        <div class="row textbox"><textarea type="text" placeholder="Any information you want the customers to know." ng-model="newService.description"></textarea></div>
        <div class="row"><button class="small-12 bt round medium-6 small-centered columns" ng-click="addService()">Add Service</button></div>
    </form>
</div>
