<div class="container">
	<div class="row" id="profile" style="border: 3px solid lightgreen">
	  <div class="small-11 small-centered columns">
	  	<div class="row">
	  		<div id="profile-top" class="small-11  small-centered columns">
	  			<div class="profile-picture"></div>
	  		</div>
	  	</div>
	  	<div class="row">
	  		<div id="request-container" class="small-11 small-centered columns">
	  			<a href="#" class="btn btn-primary btn-lg send-request">Send Request</a>
	  		</div>
	  	</div>
		<div class="row">
<!-- 	  		<div id="request-container" class="small-11 small-centered columns" style="background-color: lightgreen"></div>
 -->	  	</div>
	  </div>
	</div>
</div>


<!-- <ul class="dropdown menu" data-dropdown-menu>
  <li><a href="#">Item 1</a></li>
  <li><a href="#">Item 2</a></li>
  <li><a href="#">Item 3</a></li>
  <li><a href="#">Item 4</a></li>
</ul> -->