<div class="request small-11 medium-6 small-centered centerVertically">
    <form id="newRequest">
        <div class="row"><span>Name:</span></div>
        <div class="row textbox">{{req.customerName}}</div>
        <div class="row"><span>Contact Info:</span></div>
        <div class="row textbox">{{req.contactInfo}}</div>
        <div class="row"><span>Message:</span></div>
        <div class="row textbox">{{req.message}}</div>
        <div class="row"><span>Status:</span></div>
        <div class="row textbox">{{req.status}}</div>
    </form>
</div>
