<div class="list" ng-controller='SettingsController'>		
	<form>
    <div><span class="title">Settings </span><span class="desc">set your backend URL</span></div>
	  <div class="row">
          <div class="small-12 columns">
            <input ng-model="url" type="text" placeholder="URL">
          </div>
      </div>

    <div class="text-center">
      <button ng-click="setUrl()" class="button tiny info small-2">Set URL</button>
    </div>
    <div class="text-center">
      <button ng-click="resetUrl()" class="button tiny info small-2">Reset URL</button>
    </div>

    {{displayText}}

  </form>
</div>