<div class="list" ng-controller='TasksController'>    
    <div class="row marginleftL">
    	<div class="row">
	    	<div class="columns small-9 marginleftL">
    			<span class="title">Tasks </span><span class="desc">really important stuff</span>
    		</div>
    		<div class="columns small-2">
    			<a href="#/addtask" class="button tiny info small-12">Add Task</a>
    		</div>
    	</div>

    	<div class="row">
	    	<div class="columns small-5 marginleftL">
    			<form name="choiceForm" class="row small-unstack">
				  <label class="columns small-4">
				    <input type="radio" ng-model="choice" value="pending" >
				    Pending
				  </label>
				  <label class="columns small-5">
				    <input type="radio" ng-model="choice" value="completed" >
				    completed
				  </label>
				  <label class="columns small-3">
				    <input type="radio" ng-model="choice" value="all" >
				    All
				  </label>
				 </form>
    		</div>
    		<div class="columns small-4">
    			<span class="columns small-4">Sort By: </span>
    			<select ng-model="sortby" class="columns small-8">
					<option value="dateCreated">dateCreated</option>
					<option value="deadline">deadline</option>
					<option value="name">name</option>
					<option value="assignedUserName">assignedUserName</option>
				</select>
    		</div>
    		<div class="columns small-2">
    			<form name="sortForm" class="row marginleftS">
				  <label class="row">
				    <input type="radio" ng-model="order" value='1' >
				    Ascending
				  </label>
				  <label class="row">
				    <input type="radio" ng-model="order" value='-1' >
				    Descending
				  </label>
				</form>
    		</div>
    	</div>

    	<div class="row marginleftL">
    		<button ng-click="prev()" class="button tiny info small-2 float-left marginleftL">Previous</button>
    		<button ng-click="next()" class="button tiny info small-2 float-right marginrightL">Next</button>
    	</div>

    	<div class="marginleftL">
        <div ng-repeat="each in tasks" class="row marginleftL item">
            <a ng-href="#/tasks/{{each._id}}" class="columns small-5">{{each.name}}</a>         
            <div class="columns small-4">
            	<div class="row">Deadline: {{each.deadline | date:"MM/dd/yyyy"}}</div>
            	<div class="row">Assigned To: <a ng-href="#/users/{{each.assignedUser}}">{{each.assignedUserName}}</a></div>
            </div>
            <button ng-click="deleteTask($index)" class="button tiny info small-2 small-offset-1">Delete</button>    
        </div>
        </div>
    	<div>URL: {{url}}</div>
    </div>
</div>