<div class="list" ng-controller='UsersController'>		
	<div>
    <div class="row">
    	<div class="row">
	    	<div class="columns small-9 marginleftL">
    			<span class="title">Users </span><span class="desc">a list of cool people</span>
    		</div>
    		<div class="columns small-2">
    			<a href="#/adduser" class="button tiny info small-12">Add User</a>
    		</div>
    	</div>

    	<div ng-repeat="person in people" class="row item">
			<div class="columns small-5  marginleftL">
				<a ng-href="#/users/{{people[$index]._id}}">{{person.name}}</a>
			</div>    		
			<div class="columns small-4">{{person.email}}</div>    		
			<div class="columns small-2">
				<button ng-click="deleteUser($index)" class="button tiny info small-12">Delete</button>	
			</div>    		
    	</div>

    	{{url}}
    </div>
  </div>
</div>