<div class="list" ng-controller='UsersController'>		
	<div>
    <div class="columns marginleftL">
    	<div class="row">
    		<span class="title">User Profile </span><span class="desc">detail of a user</span>
    	</div>
        <div class="row">
            <div class="columns small-6">{{user.name}}</div>
            <div class="columns small-6">{{user.email}}</div>
        </div>

        <div ng-repeat="each in tasks" class="row item">
            <a ng-href="#/tasks/{{each._id}}" class="columns small-5">{{each.name}}</a>         
            <div class="columns small-4">Deadline: {{each.deadline | date:"MM/dd/yyyy"}}</div>
            <button ng-click="completeTask($index)" class="button tiny info small-2 small-offset-1">Completed</button>
        </div>

    	
    

        <div class="small-5 small-centered">
            <button ng-click="showCompleted()" class="button tiny info small-12">Show Completed Tasks</button> 
        </div>          

        <div ng-repeat="each in completed" class="row item">
            <a ng-href="#/tasks/{{each._id}}" class="columns small-5">{{each.name}}</a>         
            <div class="columns small-4">Deadline: {{each.deadline | date:"MM/dd/yyyy"}}</div>
        </div>
    </div>
  </div>
  {{url}}
</div>